.main-header {
  width: 100vw;
  position: fixed;
  z-index: 999;
  top: 0;
  pointer-events: none;
  a,
  button {
    pointer-events: all;
  }
  .main-header__top {
    display: flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-left: calc(var(--margin) * 2);
    padding-right: calc(var(--margin) * 2);
    position: relative;
    justify-content: flex-end;
    background-color: var(--bg-color);
    z-index: 99;
    @include mq('tablet'){
      justify-content: center;
    }
    .header-top__dynamics {
      padding-left: calc(var(--margin) * 2);
      padding-right: calc(var(--margin) * 2);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      pointer-events: none;
      width: 100%;
      height: 100%;
      align-items: center;
      @include mq("tablet") {
        display: none;
      }
      button {
        pointer-events: all;
        appearance: none;
        border: none;
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        font-size: 0.875rem;
        position: relative;
        justify-content: flex-end;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s opacity $authenticMotion;
        text-transform: lowercase;

        &.current {
          pointer-events: all;
          opacity: 1;
          &.current {
            &::before {
              width: 20px;
            }
          }
        }
        &.past {
          pointer-events: all;
          opacity: 0.2;
          &::before {
            width: 0px;
          }
        }
        &:nth-child(1) {
          right: 91.666%;
        }
        &:nth-child(2) {
          right: 75%;
        }
        &:nth-child(3) {
          right: 41.66%;
        }

        &:nth-child(4) {
          right: 25%;
        }

        &::before {
          width: 0;
          position: absolute;
          content: "";
          display: block;
          bottom: 0;
          left: 0;
          transform: translateX(-50%);
          height: 1px;
          background-color: var(--color);
          transition: width 0.3s $authenticMotion;
        }
      }
    }
    .btn-menu {
      margin: 0;
      padding: calc(var(--margin) * 0.5) calc(var(--margin) * 2);
      appearance: none;
      border: none;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      text-transform: uppercase;
      margin-right: 58.333%;
      font-weight: 500;
      letter-spacing: 0.41rem;
      color: var(--color);
      @include mq('tablet'){
        margin-right: 0;
      }
      @include mq("mobile") {
        font-size: 1.2rem;
        letter-spacing: 0.21rem;
        min-height: 48px;
        display: inline-flex;
        align-items: center;
      }
    }
    .header-top__right {
      margin-right: 0;
      margin-left: 0;
      position: relative;
      position: absolute;
      top: 0;
      right: 0;
      padding-right: calc(var(--margin) * 2);
      overflow: hidden;
      display: flex;
      height: 100%;
      @include mq("tablet") {
        padding-right: calc(var(--margin) * 1);
      }
      .language-switcher {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
          transform: translateY(100%);

          a {
            display: flex;
            padding: calc(var(--margin) * 0.5) 5px;
            text-decoration: none;
            text-transform: uppercase;
            color: var(--color);
            font-size: 0.875rem;
            font-weight: 300;
            opacity: 0.3;
            letter-spacing: 0.41rem;
            align-items: center;
            justify-content: center;
            height: 100%;
            
            @include mq("mobile") {
              font-size: 1rem;
              letter-spacing: 0.21rem;
            }
          }
          &.current-lang {
            a {
              opacity: 1;
              font-weight: 400;
              &:before {
                content: ".";
              }
            }
          }
        }
      }
      &::after {
        content: attr(data-title);
        position: absolute;
        top: 50%;
        right: var(--margin);
        transform: translateY(-50%);
        display: inline-block;
        transition: opacity .3s $authenticMotion;
        pointer-events: none;
        text-transform: uppercase;
        opacity: 1;
        color: rgba(0, 0, 0, 1);
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1.2px;
        text-transform: uppercase;
      }
    }
  }
  .main-header__bottom {
    overflow: hidden;
    pointer-events: none;
  }
  .main-nav {
    width: 100%;
    transform: translateY(-100%);
    background-color: var(--bg-color);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        width: 100%;
        a {
          display: block;
          text-align: right;
          text-decoration: none;
          text-transform: uppercase;
          color: var(--color);
          font-size: 1rem;
          padding: calc(var(--margin) * 0.5) 0;
          border-bottom: solid 1px rgba(0, 0, 0, 0.2);
          transition: background-color 0.15s $authenticMotion,
            color 0.15s $authenticMotion;
          padding-right: 58.33%;
          font-weight: 500;
          letter-spacing: 0.41rem;
          pointer-events: all;
          @include mq('tablet'){
            padding-right: 0;
            text-align: center;
          }
          @include mq("mobile") {
            font-size: 1.2rem;
            letter-spacing: 0.21rem;
            min-height: 48px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }

          &:hover {
            background-color: var(--color);
            color: var(--bg-color);
          }
        }
      }
    }
  }
  &.open{
    .header-top__right {
      &::after{
        opacity: 0;
      }
    }
  }
}
