html {
  scroll-behavior: smooth;
}

body
{
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
  font-family: 'Poppins', sans-serif;
  touch-action: manipulation;


}
.normal-scroll{
  #bam{
    opacity: 0;
    transform: translate(-50%,100%);

  }
}

#bam{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: white;
  z-index: 99;
  transform: all 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
  .desktop{
    display: block;
  }
  .mobile{
    display: none;;
  }
  &.is-mobile{
    .mobile{
      display: block;
    }
    .desktop{
      display: none;
    }
  }
  &:hover{
    &:before {
      animation: none;


    }
    &:after {
      animation: none;
    }
  }
  svg{
    width:100%;
    transition: all .4s ease;
    touch-action:none;
    path{
      transition: all .4s ease;

    }

  }

  &:after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    display: block;
    border-radius: 100%;
    content: "";
    z-index: -1;

  }
  &:before,&:after{
    content: "";
    display: block;
    width:100%;
    height:100%;
    border-radius: 40px;
    border:solid 1px white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%,-50%);
    transform-origin: 0 0;
  }
  &:before {
    animation: bounceCircle 2s 8s linear infinite;

  }
  &:after {
    animation: bounceCircle 2s 8.4s  linear infinite;
  }
  &.is-pushing{
    background-color: #FAFAFA;
    svg{
      fill:#ff6c6c;
    }
    path{
      fill:#ff6c6c;


    }
    &:after{

      animation: none;

    }
    &:before{
      animation: none;
    }
  }
}
.wrap{
  overflow: hidden;
  width: 100%;
  position: absolute;
  height: 100vh;
  &.normal-scroll{
    height: auto;
    .slide-section{
      transform: none!important;
    }
  }

}

ul
{
list-style: none;
padding: 0;
margin: 0;
  li{
    padding: 0;
    margin: 0;
  }
}

.scroll-indicator{
  position: fixed;
  display: block;
  color: rgb(72, 72, 72);
  z-index: 8;
  top: 50%;
  right: 32.5px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 10px;
  transform: translateY(-50%);
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all .4s ease;

  &.nav-up{
    opacity: 0;
    transform: translateY(-50%) translateX(100%);
  }
  @include mq('tablet'){
    display: none;
  }
}
#loading-screen{
  position: fixed;
  z-index: 99999;
  background: #FFE8EE;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  polygon{
    opacity: 0;
  }
  span{
    width: 40px;
    height: 40px;
    background: #E5F9FF;
    border-radius: 40px;
    position: absolute;
    animation: dot-keyframes 1.5s infinite ease-in-out;

  }
}
@keyframes dot-keyframes {
  0% {
    opacity: .4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .4;
  }
}
#blob-shape{
  transform: scale(1.4) translateX(-60px) translateY(-25%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:1;

  background: transparent;
  cursor: none;
  pointer-events:none;
  &:hover{
    cursor: none;
    pointer-events:none;
  }
  &.pixel{
    filter:none;
    display: none;
  }
}
#canvasBlob{
  filter: url("#goo");
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  #canvasBlob{
    filter: blur(5px)!important;
  }
}}
.goes-effect{
  display: none;
}
.home-container{
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background: #FFE8EE;
  background-image: linear-gradient(-135deg, #FFE8EE 0%, #C9CFFF 52%, #97F9FF 100%);
  color: #7A6CFF;
  &:before{
    display: none;
  }
  &:after{
    background: #FFE8EE;

  }
  .blob-svg {
    width: 150%;
    position: absolute;
    top: 0;
    right: -60%;
    z-index: 1;
    @include mq('mobile'){
      width: 100%;
    }
  }
  .home-container__content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 7%;
    z-index: 4;
    display: flex;

    @include mq('tablet'){
      padding: 0;
      position: relative;
    }
    h1{
      margin: 0;
      line-height: 1;
      color: #7A6CFF;
      letter-spacing: -1.6;

    }
    h3{
      font-weight: 400;
      font-size: 20px;
      color: #7A6CFF;
      margin-top: 0;
      margin-bottom: 20px;
      letter-spacing: -0.2;

    }
    p{
      font-size: 12px;
      color: #7A6CFF;
      margin: 0;
      line-height: 150%;
      margin-bottom: 40px;
    }


  }
  .big-title{
    position: absolute;
    bottom: 0;
    color: #FF87A1;
    font-weight: bolder;
    letter-spacing: -2px;
    margin-bottom: 0;
    z-index: 1;
    left: 5vw;
    bottom: 5vw;
    line-height: 100%;
    display: flex;

  }
}
.home-container__cover{
  position: absolute;
  top: 0%;
  right: 0;
  z-index: 4;
  padding: 0;

}
.portfolio-container{
  .home-container__cover{
    width:60%;
    min-height: 100%;
    left: 0;
    right: auto;
    @include mq('mobile'){
      width: 100%;
      display: none;
    }
  }
}
.case-list{
  position: relative;
  z-index: 5;
}
.big-title{
  font-size: 10vw;
}



.big-title span {
				position: relative;
        margin-left: -2px
			}

			.big-title span:before,
			.big-title span:after {
				content: attr(data-letter);
				position: absolute;
				left: 0;
				color: transparent;
        transition: all .8s ease;
        left: -2px

			}
      .big-title span:after{
        background: #E5F9FF;
      }
			.big-title.active span:before {

			   transform-style:preserve-3d;
			   transform: skew(0deg, 3deg);
			   transform-origin:0 100% ;
         text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
         text-shadow:0px 3px 5px 1px rgba(0,0,0,0.15);

}
			.big-title.active span:after {
				color: #E5F9FF;
				background: -webkit-linear-gradient(left, #E5F9FF, #D9ECF2);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			    transform-style:preserve-3d;
			    transform: rotateY(11deg)translate3d(-4px,-2px,-20px) skew(-2deg, -6deg);;
			    transform-origin:0 100% ;
			    z-index: 100;
			}




      .wrapper-gooey {
      	width: 100%; height: 100%;

      	display: flex;
      	align-items: center;
      	justify-content: center;

      	background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
        svg {
          width: 600px; height: 320px;

          background-color: white;
        }

      }


      .wrapper-gooey:hover {

      	circle {
      		@for $i from 8 through 150 {
      			&:nth-child(#{$i}) {
      				$x: unquote(random(130) + '%');
      				$y: unquote(random(130) + '%');

      				transform: translateX($x) translateY($y) scale(.0);
      				transition: 2s ease-in;
      			}
      		}
      	}
      }

      circle {
      	transition: 1.5s ease;
      }
.letter-animation{
  position: relative;
  font-size: calc(40px + 32 * ((100vw - 700px)/ 1300));
  margin: 0;
  line-height: 1;
  color: #292929;
  letter-spacing: -1.6;
  z-index: 4;
  @include mq('mobile'){
    font-size: calc(42px + 32 * ((100vw - 700px)/ 1300));

  }
  span{
    position: relative;
    opacity: 0;
  }
}
.slide-section{
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  &:after{
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/1500/rectange-pattern.png');
    z-index: 1;

  }
  &.portfolio-container{
    background-color: #E5F9FF;
    background: url('../img/1500/background-case.jpg');
    background-position: 80% center;
    background-size: cover;
    background-image: linear-gradient(-45deg, #2F1A51 0%, #662EFF 50%, #54FDD1 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .effect-background{
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: right center;
      background-size: cover;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      mix-blend-mode: color-dodge;
      transition: all .4s ease;
      @include mq('tablet'){
        background-size: cover;
      }

    }
    .btn{
      margin-top: 40px;
      background: #FF6C6C;
    }
    .home-container__content{
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 7%;
      z-index: 10;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: #FF6C6C;
      h2{
        color: #FF6C6C;

      }
      @include mq('tablet'){
        padding: 0;
        height:100Vh;
        position: relative;

      }
      .letter-animation{
        &:last-child{
          @include mq('tablet'){
            margin-bottom: 20px;
          }
        }

      }
    }
  }
}


.case-list__item{
  position: relative;
  h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-size: calc(32px + 32 * ((100vw - 700px)/ 1300));
    margin-top: 0;

  }
}


.portfolio-container__content{
  padding: 0 7%;
  display: flex;
  align-items: center;
  @include mq('tablet'){
    padding: 0;
  }
}


.toStagger{
  opacity:0;
}

.slide-section{
  position: relative;
  &:before{
    position: absolute;
    content:"";
    display: block;
    height: 25%;
    background: red;
    left: 7%;
    top: 0;
    width: 2px;
    z-index: 6;
  }
  &:after{
    position: absolute;
    content:"";
    display: block;
    height: 25%;
    background: red;
    left: 7%;
    bottom: 0;
    width: 2px;

    top: auto;
    z-index: 6;
  }
  &.home-container{
      &:before{
        display: none;
      }
      &:after{
        background: #7a6cff;
      }
  }
  &.portfolio-container{
    &:before{
      display: #FF6C6C;
    }
    &:after{
      background: #FF6C6C;
    }
  }
}
