.btn {
  background-image: linear-gradient(to right, #FF88A4 0%, #C9CFFF 51%, #97F9FF 100%);
  height: 40px;
  text-align: center;
  padding: 10px 40px;
  display: inline-flex;
  align-items:center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 40px;
  font-weight: 400;
  &.btn--blue{
    background:#7A6CFF;
    background-image: none;
    color: white;
    border: solid 2px #7A6CFF;
    transition: color .3s ease,background .3s ease;

    &:hover{
      background: transparent;
      color: #7A6CFF;
    }
  }
  &.btn--red {
    background: #FF6C6C;
    border:solid 2px #FF6C6C;
    &:hover{
      background: transparent;
      color: #FF6C6C;
    }
  }
  &.btn--white{
    background:white;
    background-image: none;
    color: black;
    border: solid 2px white;
    transition: color .3s ease,background .3s ease;

    &:hover{
      background: transparent;
      color: white;
    }
  }

  &:hover{
    background-position: right center;
  }
}
