.btn {
  background-image: linear-gradient(to right, #FF88A4 0%, #C9CFFF 51%, #97F9FF 100%);
  height: 40px;
  text-align: center;
  padding: 10px 40px;
  display: inline-flex;
  align-items:center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 40px;
  font-weight: bolder;
  &.btn--white{
    background:white;
    background-image: none;
    color: #FFE8EE;
    border: solid 2px #FFE8EE;
    transition: color .3s ease,background .3s ease;

    &:hover{
      background: #FFE8EE;
      color: white;
    }
  }

  &:hover{
    background-position: right center;
  }
}
