.client-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background-image: radial-gradient(ellipse farthest-corner at 45px 45px, #E5F9FF 0%, #E5F9FF 100%);
  background-image: radial-gradient( ellipse farthest-corner at  20% 40%, #586A8C 23%, #120B1E 100%);
/* Sketch doesnt export pattern fills at this point */



  &:after{
    content: "";
    width:100%;
    height: 100%;
    position: absolute;
    opacity: 0;

    transition: all .4s ease;
    transition-delay: 0;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, #161131 0%, #121116 100%);

  }
  &:before{
    content: "";
    width:100%;
    height: 100%;
    position: absolute;
    opacity: 0;

    transition: all .4s ease;
    transition-delay: 0;
    background: #161131;
    z-index: 2;
  }
}
.client-container{
  position: relative;
  width: 100%;
  height: 100vh;
  //background: url('../img/1500/background-client.jpg');
  background-size: 100%;


  .letter-animation{
    color: white;
  }
  .home-container__cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/1500/glitch.png');
    background-size: cover;
    background-position:center;
    opacity: 0;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //background: url('../img/1500/glitch.png');
      opacity: 1;
      background-size: cover;
      background-position: center;
      mix-blend-mode: normal;

    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    //  background: url('../img/1500/light-glitch.png');
      opacity: 1;
      background-size: cover;
      background-position: center;
      animation: animateScale 2.5s   linear infinite;
      transform-origin: center;
      animation-play-state: running;
      z-index: -1;

    }
  }

}
.agencies-list{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  z-index: 8;
  padding: 0;
  margin: 0;
  height: 100%;
  .agencies-list__item{
    padding: 40px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    &:first-child{
      background: black;
      height: 30%;
      .arrow-up {
        border-bottom: 100px solid #FF8AE0;
      }
    }
    &:nth-child(2){
      background: white;
      height: calc(40% + 65px);

      .arrow-up {
        border-bottom: 100px solid #BDC7ED;

      }
    }
    &:nth-child(3){
      background: black;
      height: calc(40% + 205px);

      .arrow-up {
        border-bottom: 100px solid #17FFCC;
      }
    }
  }
}
.arrow-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;

  justify-content: flex-end;
  transform-origin: top center;
  transform:  translateX(-50%) rotate(-45deg);
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;

  border-bottom: 100px solid red;
  span{
    position: absolute;
    top: 60px;
    left: 0;
    transform: translateX(-50%);
    color: white;
  }
}
