.btn-menu {

  display: block;
  width: 20px;
  height: 20px;
  border: none;
  padding: 40px;
  position: relative;
  top: 0;
  right: 0;
  z-index: 99999;
  background: transparent;
  transform-origin: center;
  transition: all .3s ease;

  &:focus{
    outline: none;
  }
  &:hover{
    cursor: pointer;
  }

  span {

    &, &:after, &:before {

      content: '';
      display: block;
      width: 20px;
      height: 2px;

      background: white;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transform-origin: center;

      transition: all .3s ease ;
      @include mq('mobile'){
        width: 20px;
      }
    }


    &:after {

      transform: translate(-50%,-8px);
      @include mq('mobile'){
        transform: translate(-50%,-8px);

      }

    }

    &:before {

      transform: translate(-50%,6px);
      @include mq('mobile'){
        transform: translate(-50%,6px);

      }

    }

  }

  &.cross {

    span {

      background: transparent!important;


      &:after {

        transform: translate(-50%,-50%) rotate(45deg);
        background: #E5F9FF;

      }

      &:before {

        transform: translate(-50%,-50%) rotate(-45deg);
        background: #E5F9FF;

      }

    }

  }

}




.main-nav{
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  position: absolute;
  z-index: 99998;
  opacity: 0;
  top: 0;
  left: 0;
  transition: all .3s ease;
  .main-nav__list{
    list-style: none;
    position: relative;
    left: 10vw;
    top:50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    @include mq('tablet'){
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
    }

    .main-nav__list--item{
      padding: 0;
      margin: 0;
      padding-bottom: 10px;
      margin-bottom: 20px;
      opacity: 0;
      transform: translateX(-40px);
      transition: all .3s ease;
      position: relative;
      @include mq('mobile'){
        padding-bottom: 5px;
        margin-bottom: 10px;
        display: inline-block;
        width:100%;
      }
      &:after{
        content: "";
        position: absolute;
        display: block;
        width: 0px;
        height: 3px;
        background: #E5F9FF;
        bottom: 0;
        left:0;
        transition: all .2s ease;
      }
      &:last-child{
        margin-bottom: 0;
      }

      &:nth-child(1n){

        transition-delay: 0s;

      }

      &:nth-child(2n){

        transition-delay: .1s;

      }

      &:nth-child(3n){

        transition-delay: .2s;

      }

      &:nth-child(4n){

        transition-delay: .3s;

      }

      &:nth-child(5n){

        transition-delay: .4s;

      }

      &:nth-child(6n){

        transition-delay: .5s;

      }

      &:nth-child(7n){

        transition-delay: .6s;

      }

      &:nth-child(8n){

        transition-delay: .7s;

      }

      a{
        text-decoration: none;
        color: white;
        font-size: 2.5rem;
        font-weight: bolder;
        transition: all .2s ease;
        @include mq('mobile'){
          font-size: 32px;
        }
      }
      &:hover{
        &:after{
          width: 40px;
        }
        a{
          text-decoration: line-through;
        }
      }
    }
  }

  &:after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width:100%;
    height: 100%;
    background:#7a6cff;
    background-image: linear-gradient(-135deg, #FFE8EE 0%, #C9CFFF 52%, #97F9FF 100%);



    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease, transform .3s ease, height .8s .6s ease, width .8s .6s ease;

  }
  &:before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    height: 100%;
    background: #7a6cff;
    background-image: linear-gradient(135deg, #FFE8EE 0%, #C9CFFF 52%, #97F9FF 100%);

    z-index: -2;
    opacity: 0;
    transition: all 0s .6s ease;
  }
  &.active{
    visibility: visible;
    opacity: 1;

    &:after{
      transform: translate(-50%,-50%) scale(1);
      opacity: 1;
      width: calc(100% - 160px);
      height: calc(100% - 160px);
      @include mq('tablet'){
        width: calc(100% - 80px);
        height: calc(100% - 80px);
      }
      @include mq('mobile'){
        width: calc(100% - 40px);
        height: calc(100% - 40px);
      }

    }
    &:before{
      opacity: 1;

    }
    .main-nav__list--item{
      opacity: 1;
      transform: translateY(0);
    }
  }

}
.dot-animation{
  position: fixed;
  width: 8px;
  height: 8px;
  background: white;
  right: 40px;
  bottom: 40px;
  border-radius: 40px;
  z-index: 6;
  transition: all .4s ease;

  &.nav-up{
    opacity: 0;
    transform: translateY(100%);
  }
  &:before,&:after{
    content: "";
    display: block;
    width:6px;
    height:6px;
    border-radius: 40px;
    border:solid 1px white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%,-50%);
    transform-origin: 0 0;
  }
  &:before {
    animation: bounceCircle 2s linear infinite;
  }
  &:after {
    animation: bounceCircle 2s .4s  linear infinite;
  }
}

@keyframes bounceCircle {

  0%
  {
    transform: scale(1) translate(-50%,-50%);
    filter: blur(0);
    opacity: 1;

  }
  50%
  {
    transform: scale(2) translate(-50%,-50%);
    filter: blur(0);
    opacity: .5;

  }


  100%
  {
    transform: scale(3) translate(-50%,-50%);
    filter: blur(.5px);
    opacity: 0;

  }

}
.logo-header{
  position: relative;
  top: 0;
  left: 0;
  padding: 25px;
  z-index: 7;
  width: 200px;
  &.nav-up{
    opacity: 0;
    transform: translateY(-100%);
  }
}

.main-header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all .4s ease;
  opacity: 1;

  &.nav-up{
    transform: translateY(-100%);
    opacity: 0;
  }
}
