.project-container{
  position: relative;
  width: 100%;
  background:#E5F9FF url('/src/img/1500/case-section.png');
  background-size: 100%;
  background-repeat: no-repeat;


}
.project-container__header{
  width: 100%;
  height: 100vh;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;

  .letter-animation{
    color: white;
  }
  @include mq('tablet'){
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }
}
