:root {
  --color: #000;
  --bg-color: #fff;
  --dynamic-bg-color: #fff;
  --margin: 2.08333vw;
}

@media (width <= 992px) {
  :root {
    --margin: 20px;
  }
}

@media (width <= 576px) {
  :root {
    --margin: 15px;
  }
}

html {
  --scrollbarBG: #fff;
  --thumbBG: #000;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG);
}

::-webkit-scrollbar {
  z-index: 998;
  width: 4px;
  height: 100%;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
  background: var(--thumbBG);
  border-radius: 40px;
  width: 4px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

[data-scrollto] {
  cursor: pointer;
}

.grecaptcha-badge {
  display: none !important;
}

[data-fancy-content] {
  display: none;
}

.w100 {
  width: 100%;
}

html {
  max-width: 100%;
}

body:after {
  pointer-events: none;
  content: "";
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  width: 100vw;
  height: 100vh;
  transition: opacity .3s cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

body.is-loading:after {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  cursor: wait;
}

body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-dark);
  border-radius: 40px;
}

body, html {
  color: var(--color);
  background-color: var(--bg-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-display: swap;
  touch-action: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

@media (hover: hover) and (pointer: fine) {
  body, html {
    margin-right: -4px;
  }
}

body *, html * {
  box-sizing: border-box;
}

body a, html a {
  cursor: pointer;
}

body img, body svg, html img, html svg {
  -webkit-user-select: none;
  user-select: none;
}

body img, body a, html img, html a {
  -webkit-user-drag: none;
  outline: none !important;
}

body img svg, body a svg, html img svg, html a svg {
  pointer-events: none;
}

body img, html img {
  width: 100%;
  height: auto;
  display: block;
}

body.is-loading .loader, html.is-loading .loader {
  pointer-events: all;
  opacity: 1;
}

body.is-loading .loader:hover, html.is-loading .loader:hover, body.is-loading *, html.is-loading *, body.is-loading :hover, html.is-loading :hover {
  cursor: wait !important;
}

@media (width <= 992px) {
  body, html {
    font-size: 14px;
  }
}

body [data-barba-namespace], html [data-barba-namespace] {
  position: relative;
}

body [data-barba-namespace].is-pending, html [data-barba-namespace].is-pending {
  position: fixed;
  top: 100%;
  left: 100%;
}

main {
  z-index: 4;
  position: relative;
}

html.lenis {
  height: auto;
}

body.is-touch [data-loop-section].duplicated {
  display: none;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

[data-barba="container"] {
  z-index: 3;
  box-sizing: border-box;
  position: relative;
}

.loader {
  height: calc(var(--vh, 1vh) * 100);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: opacity .3s cubic-bezier(.4, 0, .2, 1);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.loader svg {
  width: 50px;
  height: auto;
}

.pin-spacer {
  pointer-events: none;
}

.pin-spacer * {
  pointer-events: all;
}

.js-replace-image {
  position: relative;
  overflow: hidden;
}

.js-replace-image, img[data-lazy-src] {
  opacity: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.js-replace-image.jsImageReplaced, .js-replace-image.loaded, img[data-lazy-src].jsImageReplaced, img[data-lazy-src].loaded {
  opacity: 1;
}

.js-replace-image img, img[data-lazy-src] img {
  display: none;
}

.container {
  z-index: 2;
  padding: var(--margin);
  box-sizing: border-box;
  height: 100%;
  display: block;
  position: relative;
  top: 0;
}

@media (width <= 992px) {
  .container {
    padding-top: calc(var(--margin) * 2);
    padding-bottom: var(--margin);
  }
}

.container--full {
  min-height: 100svh;
}

.container.error-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.scrollbar {
  z-index: 999;
  background: none;
  width: 14px;
  height: 100%;
  padding: 4px;
  position: fixed;
  top: 0;
  right: 0;
}

.scrollbar .scrollbar_thumb {
  background-color: var(--color);
  border-radius: 40px;
  width: 4px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

#loading-screen {
  height: calc(var(--dynamic-vh, 1vh) * 100);
  z-index: 99999;
  pointer-events: none;
  background-repeat: repeat;
  background-size: 100% 100%;
  background-color: var(--bg-color);
  visibility: hidden;
  opacity: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0%;
  left: 0;
  overflow: hidden;
}

#loading-screen img, #loading-screen svg {
  z-index: 4;
  width: 100%;
  max-width: 120px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  position: relative;
}

.margin-default {
  margin: calc(var(--margin) * 1);
}

.margin-vertical-default {
  padding: calc(var(--margin) * 1) 0;
}

.margin-horizontal-default {
  padding: 0 calc(var(--margin) * 1);
}

.margin-top-default {
  margin-top: calc(var(--margin) * 1);
}

@media (width <= 768px) {
  .margin-top-default {
    margin-top: calc(var(--margin) * 1);
  }
}

.margin-right-default {
  margin-right: calc(var(--margin) * 1);
}

@media (width <= 768px) {
  .margin-right-default {
    margin-right: calc(var(--margin) * 1);
  }
}

.margin-bottom-default {
  margin-bottom: calc(var(--margin) * 1);
}

@media (width <= 768px) {
  .margin-bottom-default {
    margin-bottom: calc(var(--margin) * 1);
  }
}

.margin-left-default {
  margin-left: calc(var(--margin) * 1);
}

@media (width <= 768px) {
  .margin-left-default {
    margin-left: calc(var(--margin) * 1);
  }
}

.margin-medium {
  margin: calc(var(--margin) * 2);
}

.margin-vertical-medium {
  padding: calc(var(--margin) * 2) 0;
}

.margin-horizontal-medium {
  padding: 0 calc(var(--margin) * 2);
}

.margin-top-medium {
  margin-top: calc(var(--margin) * 2);
}

@media (width <= 768px) {
  .margin-top-medium {
    margin-top: calc(var(--margin) * 2);
  }
}

.margin-right-medium {
  margin-right: calc(var(--margin) * 2);
}

@media (width <= 768px) {
  .margin-right-medium {
    margin-right: calc(var(--margin) * 2);
  }
}

.margin-bottom-medium {
  margin-bottom: calc(var(--margin) * 2);
}

@media (width <= 768px) {
  .margin-bottom-medium {
    margin-bottom: calc(var(--margin) * 2);
  }
}

.margin-left-medium {
  margin-left: calc(var(--margin) * 2);
}

@media (width <= 768px) {
  .margin-left-medium {
    margin-left: calc(var(--margin) * 2);
  }
}

.margin-large {
  margin: calc(var(--margin) * 3);
}

.margin-vertical-large {
  padding: calc(var(--margin) * 3) 0;
}

.margin-horizontal-large {
  padding: 0 calc(var(--margin) * 3);
}

.margin-top-large {
  margin-top: calc(var(--margin) * 3);
}

@media (width <= 768px) {
  .margin-top-large {
    margin-top: calc(var(--margin) * 3);
  }
}

.margin-right-large {
  margin-right: calc(var(--margin) * 3);
}

@media (width <= 768px) {
  .margin-right-large {
    margin-right: calc(var(--margin) * 3);
  }
}

.margin-bottom-large {
  margin-bottom: calc(var(--margin) * 3);
}

@media (width <= 768px) {
  .margin-bottom-large {
    margin-bottom: calc(var(--margin) * 3);
  }
}

.margin-left-large {
  margin-left: calc(var(--margin) * 3);
}

@media (width <= 768px) {
  .margin-left-large {
    margin-left: calc(var(--margin) * 3);
  }
}

.margin-wide {
  margin: calc(var(--margin) * 4);
}

.margin-vertical-wide {
  padding: calc(var(--margin) * 4) 0;
}

.margin-horizontal-wide {
  padding: 0 calc(var(--margin) * 4);
}

.margin-top-wide {
  margin-top: calc(var(--margin) * 4);
}

@media (width <= 768px) {
  .margin-top-wide {
    margin-top: calc(var(--margin) * 4);
  }
}

.margin-right-wide {
  margin-right: calc(var(--margin) * 4);
}

@media (width <= 768px) {
  .margin-right-wide {
    margin-right: calc(var(--margin) * 4);
  }
}

.margin-bottom-wide {
  margin-bottom: calc(var(--margin) * 4);
}

@media (width <= 768px) {
  .margin-bottom-wide {
    margin-bottom: calc(var(--margin) * 4);
  }
}

.margin-left-wide {
  margin-left: calc(var(--margin) * 4);
}

@media (width <= 768px) {
  .margin-left-wide {
    margin-left: calc(var(--margin) * 4);
  }
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.horizontal-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column--count-2 {
  column-count: 2;
  column-gap: calc(var(--margin) * 2);
}

@media (width <= 576px) {
  .column--count-2 {
    column-count: 1;
  }
}

.column--count-2 p {
  margin: 0;
}

.italic-separator:before {
  content: " .";
  font: inherit;
}

.parsley-errors-list {
  list-style: none;
}

#scene {
  z-index: 99999;
  pointer-events: all;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translate3d(0, 0, .1px);
}

#scene canvas.hover {
  cursor: all-scroll;
}

.cover-image {
  position: relative;
  overflow: hidden;
}

.cover-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form.is-processing {
  opacity: .2;
  pointer-events: none;
  cursor: pointer;
}

.blured-bg {
  backdrop-filter: blur(4px);
  z-index: 15;
  background-color: #ffffffe6;
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
}

@media (width <= 768px) {
  .blured-bg {
    display: none;
  }
}

body {
  scroll-snap-type: y mandatory;
}

body [data-barba-namespace="homeIndex"] {
  width: 100%;
  top: 0;
  left: 0;
}

body [data-barba-namespace="homeIndex"] .container {
  will-change: transform;
  scroll-snap-align: start;
  width: 100%;
  top: 0;
  left: 0;
}

.sticky-section {
  width: 100%;
  position: relative;
}

[data-barba-introductionscreen] {
  z-index: 9998;
  background-color: var(--color);
  color: var(--bg-color);
  padding: var(--margin);
  padding-right: calc(var(--margin)  + 4px);
  padding-top: var(--header-height);
  padding-bottom: calc(var(--margin) * .5);
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100svh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

[data-barba-introductionscreen] .introduction-screen__wrapper {
  padding-top: calc(var(--margin) * 3);
  padding-left: calc(var(--margin) * 12.66);
  padding-right: calc(var(--margin) * 5);
  padding-bottom: calc(var(--margin) * 2);
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  display: flex;
}

@media (width <= 992px) {
  [data-barba-introductionscreen] .introduction-screen__wrapper {
    padding-left: calc(var(--margin) * 5);
  }
}

[data-barba-introductionscreen] svg {
  width: 100%;
}

[data-barba-introductionscreen] #logo-baseline * {
  opacity: 0;
  fill: #fff;
  filter: blur(10px);
}

[data-barba-introductionscreen] #circle-background {
  stroke-dashoffset: 751.793px;
  stroke-dasharray: 751.793;
}

[data-barba-introductionscreen] #logo-letter-a {
  stroke-dashoffset: 210.85px;
  stroke-dasharray: 210.85;
}

[data-barba-introductionscreen] #logo-letter-n {
  stroke-dashoffset: 627.782px;
  stroke-dasharray: 627.782;
}

.animated {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-fill-mode: both;
}

.in-view {
  animation-play-state: running;
}

@-webkit-keyframes slideFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }

  1% {
    opacity: 0;
    -webkit-transform: translate3d(-30%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  1% {
    opacity: 0;
    transform: translate3d(-30%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-animation-type="slidefromleft"] {
  animation-name: slideFromLeft;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

[data-animation-type="fadein"] {
  animation-name: fadeIn;
  animation-duration: .8s;
}

@keyframes residenceSlide {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }

  1% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes residenceSlideResponsive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }

  1% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

[data-animation-type="residenceslide"] {
  animation-name: residenceSlide;
  animation-duration: .8s;
}

@media (width <= 768px) {
  [data-animation-type="residenceslide"] {
    animation-name: residenceSlideResponsive;
    animation-duration: .8s;
  }
}

@keyframes scaleFromBottom {
  0% {
    transform: scaleY(0);
  }

  1% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

[data-animation-type="scalefrombottom"] {
  opacity: 1;
  transform-origin: bottom;
  animation-name: scaleFromBottom;
}

[data-animation-type="scalefrombottom"] > * {
  transform: scaleY(1) !important;
}

@-webkit-keyframes slideFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }

  1% {
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  1% {
    opacity: 0;
    transform: translate3d(30%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-animation-type="slidefromright"] {
  animation-name: slideFromRight;
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0)rotateZ(0)skewX(0);
  }

  1% {
    opacity: 0;
    transform: translate3d(0, 100px, 0)rotateZ(3deg)skewX(-3deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)rotateZ(0)skewX(0);
  }
}

[data-animation-type="slidefrombottom"] {
  transform-origin: 0 0;
  animation-name: slideFromBottom;
}

@-webkit-keyframes slideFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }

  1% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0)rotateZ(0);
  }

  1% {
    opacity: 0;
    transform: translate3d(0, -100px, 0)rotateZ(-3deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)rotateZ(0);
  }
}

[data-animation-type="slidefromtop"] {
  animation-name: slideFromTop;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
  }

  1% {
    opacity: 0;
    -webkit-transform: scale3d(.5, .5, .5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }

  1% {
    opacity: 0;
    transform: scale3d(.5, .5, .5);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

[data-animation-type="zoomin"] {
  animation-name: zoomIn;
}

@keyframes blurIn {
  0% {
    filter: blur(10px);
    opacity: 1;
  }

  1% {
    filter: blur(10px);
    opacity: 1;
  }

  100% {
    filter: blur();
    opacity: 1;
  }
}

[data-animation-type="blurin"] {
  animation-name: blurIn;
  overflow: hidden;
}

.main-header {
  z-index: 999;
  pointer-events: none;
  width: 100vw;
  position: fixed;
  top: 0;
}

.main-header a, .main-header button {
  pointer-events: all;
}

.main-header .main-header__top {
  padding-left: calc(var(--margin) * 2);
  padding-right: calc(var(--margin) * 2);
  background-color: var(--bg-color);
  z-index: 99;
  border-bottom: 1px solid #0003;
  justify-content: flex-end;
  width: 100%;
  display: flex;
  position: relative;
}

@media (width <= 768px) {
  .main-header .main-header__top {
    justify-content: center;
  }
}

.main-header .main-header__top .header-top__dynamics {
  padding-left: calc(var(--margin) * 2);
  padding-right: calc(var(--margin) * 2);
  pointer-events: none;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

@media (width <= 768px) {
  .main-header .main-header__top .header-top__dynamics {
    display: none;
  }
}

.main-header .main-header__top .header-top__dynamics button {
  pointer-events: all;
  appearance: none;
  opacity: 0;
  pointer-events: none;
  text-transform: lowercase;
  background-color: #0000;
  border: none;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 0;
  font-size: .875rem;
  transition: opacity .3s cubic-bezier(.4, 0, .2, 1);
  position: absolute;
}

.main-header .main-header__top .header-top__dynamics button.current {
  pointer-events: all;
  opacity: 1;
}

.main-header .main-header__top .header-top__dynamics button.current.current:before {
  width: 20px;
}

.main-header .main-header__top .header-top__dynamics button.past {
  pointer-events: all;
  opacity: .2;
}

.main-header .main-header__top .header-top__dynamics button.past:before {
  width: 0;
}

.main-header .main-header__top .header-top__dynamics button:first-child {
  right: 91.666%;
}

.main-header .main-header__top .header-top__dynamics button:nth-child(2) {
  right: 75%;
}

.main-header .main-header__top .header-top__dynamics button:nth-child(3) {
  right: 41.66%;
}

.main-header .main-header__top .header-top__dynamics button:nth-child(4) {
  right: 25%;
}

.main-header .main-header__top .header-top__dynamics button:before {
  content: "";
  background-color: var(--color);
  width: 0;
  height: 1px;
  transition: width .3s cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
}

.main-header .main-header__top .btn-menu {
  padding: calc(var(--margin) * .5) calc(var(--margin) * 2);
  appearance: none;
  text-transform: uppercase;
  letter-spacing: .41rem;
  color: var(--color);
  background-color: #0000;
  border: none;
  margin: 0 58.333% 0 0;
  padding-left: 0;
  padding-right: 0;
  font-weight: 500;
}

@media (width <= 768px) {
  .main-header .main-header__top .btn-menu {
    margin-right: 0;
  }
}

@media (width <= 576px) {
  .main-header .main-header__top .btn-menu {
    letter-spacing: .21rem;
    align-items: center;
    min-height: 48px;
    font-size: 1.2rem;
    display: inline-flex;
  }
}

.main-header .main-header__top .header-top__right {
  padding-right: calc(var(--margin) * 2);
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

@media (width <= 768px) {
  .main-header .main-header__top .header-top__right {
    padding-right: calc(var(--margin) * 1);
  }
}

.main-header .main-header__top .header-top__right .language-switcher {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-header .main-header__top .header-top__right .language-switcher li {
  transform: translateY(100%);
}

.main-header .main-header__top .header-top__right .language-switcher li a {
  padding: calc(var(--margin) * .5) 5px;
  text-transform: uppercase;
  color: var(--color);
  opacity: .3;
  letter-spacing: .41rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: .875rem;
  font-weight: 300;
  text-decoration: none;
  display: flex;
}

@media (width <= 576px) {
  .main-header .main-header__top .header-top__right .language-switcher li a {
    letter-spacing: .21rem;
    font-size: 1rem;
  }
}

.main-header .main-header__top .header-top__right .language-switcher li.current-lang a {
  opacity: 1;
  font-weight: 400;
}

.main-header .main-header__top .header-top__right .language-switcher li.current-lang a:before {
  content: ".";
}

.main-header .main-header__top .header-top__right:after {
  content: attr(data-title);
  top: 50%;
  right: var(--margin);
  pointer-events: none;
  text-transform: uppercase;
  opacity: 1;
  color: #000;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  transition: opacity .3s cubic-bezier(.4, 0, .2, 1);
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);
}

.main-header .main-header__bottom {
  pointer-events: none;
  overflow: hidden;
}

.main-header .main-nav {
  background-color: var(--bg-color);
  width: 100%;
  transform: translateY(-100%);
}

.main-header .main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header .main-nav ul li {
  width: 100%;
}

.main-header .main-nav ul li a {
  text-align: right;
  text-transform: uppercase;
  color: var(--color);
  padding: calc(var(--margin) * .5) 0;
  letter-spacing: .41rem;
  pointer-events: all;
  border-bottom: 1px solid #0003;
  padding-right: 58.33%;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .15s cubic-bezier(.4, 0, .2, 1), color .15s cubic-bezier(.4, 0, .2, 1);
  display: block;
}

@media (width <= 768px) {
  .main-header .main-nav ul li a {
    text-align: center;
    padding-right: 0;
  }
}

@media (width <= 576px) {
  .main-header .main-nav ul li a {
    letter-spacing: .21rem;
    justify-content: flex-end;
    align-items: center;
    min-height: 48px;
    font-size: 1.2rem;
    display: flex;
  }
}

.main-header .main-nav ul li a:hover {
  background-color: var(--color);
  color: var(--bg-color);
}

.main-header.open .header-top__right:after {
  opacity: 0;
}

body#homeIndex .footer__header {
  margin-bottom: 50vh;
}

@media (width <= 768px) {
  body#homeIndex .footer__header {
    justify-content: center;
    align-items: center;
    height: 100svh;
    margin-bottom: 75vh;
    display: flex;
    overflow: hidden;
  }
}

body#homeIndex .footer__header .fake-map {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media (width <= 768px) {
  body#homeIndex .footer__header .fake-map {
    width: 100%;
  }
}

body#homeIndex .footer__header .map {
  display: block;
}

@media (width <= 768px) {
  body#homeIndex .footer__header .map {
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
  }
}

.main-footer.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.main-footer.container .general-contact {
  white-space: nowrap;
}

.main-footer.container .footer__header {
  pointer-events: none;
  margin-bottom: 0;
}

.main-footer.container .footer__header .fake-map h2 {
  padding: 0 calc(var(--margin) * 8);
  margin-bottom: calc(var(--margin) * 2);
}

@media (width <= 768px) {
  .main-footer.container .footer__header .fake-map h2 {
    text-align: center;
    padding: 0;
  }
}

.main-footer.container .footer__header .fake-map .pin svg {
  margin-left: calc(var(--margin) * 12);
  width: 60px;
  height: auto;
}

.main-footer.container .footer__header .map {
  width: calc(var(--margin) * 39);
  height: auto;
  display: none;
  overflow: hidden;
}

@media (width <= 768px) {
  .main-footer.container .footer__header .map {
    width: 100%;
  }
}

.main-footer.container .footer__header .map svg {
  width: 100%;
  height: auto;
}

.main-footer.container .pin-spacer {
  pointer-events: none;
}

.main-footer.container .contact {
  padding-left: calc(var(--margin) * 1);
  padding-right: calc(var(--margin) * 1);
}

.main-footer.container .contact .contact__informations {
  flex-wrap: wrap;
  display: flex;
}

@media (width <= 992px) {
  .main-footer.container .contact .contact__informations .info__item {
    text-align: right;
  }
}

.main-footer.container .contact .contact__informations .info__item:first-child {
  flex: 0 0 calc(var(--margin) * 8);
  max-width: calc(var(--margin) * 8);
  margin-left: calc(var(--margin) * 2);
  align-items: flex-end;
  display: flex;
}

@media (width <= 992px) {
  .main-footer.container .contact .contact__informations .info__item:first-child {
    flex: 0 0 100%;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 100%;
    margin-left: 0;
  }
}

.main-footer.container .contact .contact__informations .info__item:nth-child(2) {
  flex: 0 0 calc(var(--margin) * 16);
  max-width: calc(var(--margin) * 16);
  margin-left: calc(var(--margin) * 8);
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

@media (width <= 992px) {
  .main-footer.container .contact .contact__informations .info__item:nth-child(2) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: -20%;
    margin-left: 0;
  }
}

.main-footer.container .contact .contact__informations .info__item:nth-child(2) .btn {
  margin-top: calc(var(--margin) * 4);
  margin-bottom: 0;
}

.main-footer.container .contact .contact__informations .info__item:nth-child(3) {
  flex: 0 0 calc(var(--margin) * 10);
  max-width: calc(var(--margin) * 10);
  margin-left: calc(var(--margin) * 2);
  margin-top: auto;
  margin-bottom: 0;
}

@media (width <= 992px) {
  .main-footer.container .contact .contact__informations .info__item:nth-child(3) {
    margin-left: 0;
  }
}

.main-footer.container .contact .contact__informations .info__item:nth-child(3) .cover-image {
  width: 100%;
  padding-bottom: 56.666%;
}

.main-footer.container .footer__colophon {
  margin-top: calc(var(--margin) * 3);
  padding-left: calc(var(--margin) * 3);
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

@media (width <= 992px) {
  .main-footer.container .footer__colophon {
    padding-left: calc(var(--margin) * 1);
    padding-right: calc(var(--margin) * 1);
  }
}

.main-footer.container .footer__colophon .colophon__left {
  margin-top: var(--margin);
}

@media (width <= 992px) {
  .main-footer.container .footer__colophon .colophon__left {
    width: 100%;
  }
}

.main-footer.container .footer__colophon .colophon__left p {
  opacity: .5;
  color: var(--color);
  letter-spacing: 0;
  text-align: left;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
}

.main-footer.container .footer__colophon .colophon__left p a {
  text-transform: lowercase;
  color: var(--color);
  font-weight: 300;
  text-decoration: none;
}

.main-footer.container .footer__colophon .colophon__left .colophon__legals {
  flex-wrap: wrap;
  display: flex;
}

@media (width <= 992px) {
  .main-footer.container .footer__colophon .colophon__left .colophon__legals {
    justify-content: space-between;
    width: 100%;
  }
}

.main-footer.container .footer__colophon .colophon__left .colophon__legals a.privacy-policy-link {
  opacity: .5;
  color: var(--color);
  letter-spacing: 0;
  text-align: left;
  text-transform: lowercase;
  margin: 0;
  margin-right: calc(var(--margin) * 2);
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
}

.main-footer.container .footer__colophon .colophon__right {
  margin-top: var(--margin);
}

@media (width <= 768px) {
  .main-footer.container .footer__colophon .colophon__right {
    margin-top: calc(var(--margin) * 2);
    width: 100%;
  }

  .main-footer.container .footer__colophon .colophon__right .baseline {
    text-align: left;
  }
}

body#homeIndex footer {
  margin-top: 100vh;
}

@media (width <= 768px) {
  body#homeIndex footer {
    margin-top: 0;
  }
}

body#homeIndex footer .footer__header {
  display: block;
}

button {
  font: inherit;
}

button:hover {
  cursor: pointer;
}

.btn-scrollto {
  appearance: none;
  background: none;
  border: none;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  position: relative;
}

.btn-scrollto:before {
  content: "";
  background-color: var(--color);
  width: 24px;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-scrollto:after {
  content: "";
  background-color: var(--color);
  width: 1px;
  height: 24px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-cta {
  appearance: none;
  text-align: left;
  text-transform: uppercase;
  color: var(--color);
  white-space: nowrap;
  background: none;
  border: none;
  margin-top: 12px;
  font-family: futura-pt, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  text-decoration: none;
  display: flex;
}

.btn-cta span {
  width: 12px;
  height: 12px;
  margin-top: -12px;
  display: block;
  position: relative;
}

.btn-cta span:before {
  content: "";
  background-color: var(--color);
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-cta span:after {
  content: "";
  background-color: var(--color);
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  appearance: none;
  letter-spacing: .6px;
  text-transform: lowercase;
  color: var(--color);
  background-color: #0000;
  border: none;
  padding: 5px 8px;
  font-size: 1rem;
  text-decoration: none;
}

.btn:before {
  content: ".";
}
/*# sourceMappingURL=index.b10d73a7.css.map */
