.home-introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
  padding-bottom: calc(var(--margin) * 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  .home-introduction__header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: auto;
    padding-top: calc(var(--margin) * 3);
    padding-left: calc(var(--margin) * 12.66);
    padding-right: calc(var(--margin) * 5);
    padding-bottom: calc(var(--margin) * 2);
    @include mq("laptop") {
      padding-left: calc(var(--margin) * 5);
    }
    

    a {
      display: block;
      width: 100%;
      img,
      svg {
        width: 100%;
      }
    }
  }
  .home-introduction__body {
    width: 100%;
    padding: 0 calc(var(--margin) * 2);
    padding-bottom: var(--margin);
    a {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 100%;
      display: inline-block;
      color: var(--color);
      text-decoration: none;
    }
    @include mq('laptop'){
      margin: auto;
    }
  }
  .home-introduction__footer {
    width: 100%;
    padding-left: calc(var(--margin) * 22);
    position: relative;
    padding-right: calc(var(--margin) * 5);
    @include mq("laptop") {
      padding-left: 0;
    }

    .baseline {
      @include mq("tablet") {
        text-align: left;
      }
    }
    @include mq("mobile") {
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .btn-scrollto {
      position: absolute;
      right: calc(var(--margin) * 4);
      bottom: 0;
      transform: translateX(50%);
      @include mq("laptop") {
        right: var(--margin);
      }
    }
  }
}
