.animation {
  .animation__section {
    animation-duration: .25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    &.animation__section--fadein {
      animation-name: fadeIn;
    }

    &.animation__section--fadeinup {
      animation-name: fadeInUp;
    }

    &.animation__section--fadeinright {
      animation-name: fadeInRight;
    }
    &.is-reverse {
     .animation__section {
       animation-direction: alternate-reverse;
     }
   }
  }


}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
